@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: white;
  height: 5rem;
  color: black;
  display: flex;
}
.header h1 {
  font-family: "Segoe UI";
}
.header #logo {
  position: relative;
  margin-left: 10%;
  top: 25%;
  height: 2rem;
  flex: 0.4;
}
.header .navbar {
  width: 35%;
  flex: 1;
}
.header .navbar ul {
  padding-top: 3%;
}
.header .navbar li {
  display: inline;
  margin-left: 2%;
}
.header .navbar li .links {
  display: inline;
  text-decoration: none;
  color: hsl(0deg, 0%, 13%);
  font-size: 1.3rem;
  font-family: "Segoe UI";
}

.login-header {
  background-color: white;
  height: 5rem;
  color: black;
  display: flex;
}
.login-header h1 {
  font-family: "Segoe UI";
}
.login-header #logo {
  position: relative;
  margin-left: 5%;
  top: 25%;
  height: 2rem;
  flex: 0.43;
}
.login-header .navbar {
  width: 35%;
  flex: 1;
}
.login-header .navbar ul {
  padding-top: 3%;
}
.login-header .navbar li {
  display: inline;
  margin-left: 2%;
}
.login-header .navbar li .links {
  display: inline;
  text-decoration: none;
  color: hsl(0deg, 0%, 13%);
  font-size: 1.3rem;
  font-family: "Segoe UI";
}

#index-main {
  padding-left: 2%;
  padding-right: 2%;
}
#index-main #CTA-container #backgroundImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../media/homeBackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 92%;
  height: 100vh;
}
#index-main #CTA-container #CTA {
  margin-left: 25%;
  position: absolute;
  margin-top: -35%;
}
#index-main #CTA-container #CTA h2, #index-main #CTA-container #CTA span {
  color: white;
  font-size: 5rem;
  text-align: center;
  font-family: "Segoe UI";
}
#index-main #CTA-container #flex-banner {
  display: flex;
  width: 70%;
  height: 11rem;
  position: absolute;
  margin-top: -15%;
  margin-left: 15%;
}
#index-main #CTA-container #flex-banner :first-child {
  background-color: rgb(255, 255, 255);
}
#index-main #CTA-container #flex-banner :nth-child(2) {
  background-color: rgb(237, 237, 237);
}
#index-main #CTA-container #flex-banner :last-child {
  background-color: rgb(214, 214, 214);
}
#index-main #CTA-container #flex-banner .banner {
  flex: 1;
  text-align: center;
  padding-top: 3%;
}
#index-main #CTA-container #flex-banner .banner .fa-solid {
  font-size: 2rem;
  background-color: transparent;
}
#index-main #CTA-container #flex-banner .banner .credits {
  background-color: transparent;
  padding-top: 10%;
  font-size: 1.5rem;
}

#access-main {
  height: 80vh;
}
#access-main h2, #access-main p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  text-align: center;
}
#access-main h2 {
  font-size: 3.5rem;
}
#access-main p {
  font-size: 1.1rem;
  color: grey;
}
#access-main p a {
  color: rgb(233, 70, 21);
}
#access-main #loginForm {
  padding-left: 38%;
  padding-top: 2%;
}
#access-main #loginForm table {
  width: 70%;
}
#access-main #loginForm label {
  font-size: 1rem;
  color: grey;
}
#access-main #loginForm input[type=email], #access-main #loginForm input[type=password], #access-main #loginForm input[type=text] {
  width: 60%;
  height: 2rem;
  font-size: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  margin-bottom: 5%;
  outline: none;
}
#access-main #loginForm #forgotpassword {
  margin-bottom: 15%;
  color: grey;
}
#access-main #loginForm input[type=submit] {
  width: 60%;
  height: 3rem;
  background-color: rgb(233, 70, 21);
  border: none;
  color: white;
  font-size: 1.5rem;
  margin-top: 2%;
}

#calculator-main .calculator {
  padding: 10px;
  border-radius: 1em;
  height: 380px;
  width: 400px;
  margin: auto;
  background-color: #191b28;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#calculator-main .display-box {
  font-family: "Orbitron", sans-serif;
  background-color: #dcdbe1;
  border: solid black 0.5px;
  color: black;
  border-radius: 5px;
  width: 100%;
  height: 65%;
}
#calculator-main #btn {
  background-color: #fb0066;
}
#calculator-main input[type=button] {
  font-family: "Orbitron", sans-serif;
  background-color: #64278f;
  color: white;
  border: solid black 0.5px;
  width: 100%;
  border-radius: 5px;
  height: 70%;
  outline: none;
}
#calculator-main input:active[type=button] {
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}/*# sourceMappingURL=style.css.map */