@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
$headerFont: 'Segoe UI';
*{
    margin: 0;
    padding: 0;
}

//Top Header of the page
.header{ 

background-color: white;
height: 5rem;
color: black;
display: flex;

    h1{
        font-family: $headerFont;
        }
    #logo{//Logo in the header
    position: relative;
    margin-left: 10%;
    top: 25%;
    height: 2rem;
    flex: .4;//flex used to help center navbar
    }
    //Styles the navigation bar's content
    .navbar{
        width: 35%;
        flex: 1;//flex used to help center navbar
        
            ul{
                padding-top: 3%;
            }
            li{
                display: inline;
                margin-left: 2%;
                .links{
                    display: inline;
                    text-decoration: none;
                    color: hsl(0, 0%, 13%);
                    font-size: 1.3rem;
                    font-family: $headerFont;
                }
            }
        }

    }

.login-header{ 

        background-color: white;
        height: 5rem;
        color: black;
        display: flex;
        
            h1{
                font-family: $headerFont;
                }
            #logo{//Logo in the header
            position: relative;
            margin-left: 5%;
            top: 25%;
            height: 2rem;
            flex: .43;//flex used to help center navbar
            }
            //Styles the navigation bar's content
            .navbar{
                width: 35%;
                flex: 1;//flex used to help center navbar
                
                    ul{
                        padding-top: 3%;
                    }
                    li{
                        display: inline;
                        margin-left: 2%;
                        .links{
                            display: inline;
                            text-decoration: none;
                            color: hsl(0, 0%, 13%);
                            font-size: 1.3rem;
                            font-family: $headerFont;
                        }
                    }
                }
        
            }
#index-main {
    //padding centers items
    padding-left: 2% ;
    padding-right: 2%;

    #CTA-container{
    
    #backgroundImage{
        //darkens image
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../media/homeBackgroundImage.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 92%;
        height: 100vh;
        
        
        
                }//END backgroundImage

        #CTA{      
            margin-left: 25%;
            position: absolute;  
            margin-top: -35%;
            
            h2, span{
                color: white;
                font-size: 5rem;
                text-align: center;
                font-family: $headerFont;
            }
        }//end CTA

        #flex-banner{
            display: flex;
            width: 70%;
            height: 11rem;
            position: absolute;
            margin-top: -15%;
            margin-left: 15%;
        
            :first-child{
                background-color: rgb(255,255,255);
            }

            :nth-child(2){
                background-color: rgb(237,237,237);
            }

            :last-child{
                background-color: rgb(214,214,214);
            }

            .banner{
                flex: 1;
                text-align: center;
                padding-top: 3%;

                .fa-solid{//icons
                    font-size: 2rem;
                    background-color:transparent;
                }

                .credits{
                    background-color: transparent;
                    padding-top: 10%;
                    font-size: 1.5rem;
                }
            
            }

        }//end flex-banner

    }
}//end index-main


//Main container to hold main content
#access-main{

    height: 80vh;

    h2, p{
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
        text-align: center;
    }//end h2 and p
    h2{
        font-size: 3.5rem;
    }//end h2
    p{
        font-size: 1.1rem;
        color: grey;
        a{
            color: rgb(233,70,21);
        }
    }

    #loginForm{
    
    padding-left: 38%;
    padding-top: 2%;    
    table{
        width: 70%;
    }
        label{
            font-size: 1rem;
            color: grey;
        }//end label

        input[type=email], input[type=password], input[type=text]{
            width: 60%;
            height: 2rem;
            font-size: 1rem;
            border-top: none;
            border-left: none;
            border-right: none;
            border-color: grey;
            margin-bottom: 5%;
            outline: none;
           
            
        }

        #forgotpassword{
            margin-bottom: 15%;
            color: grey;
        }

        input[type=submit]{
            width: 60%;
            height: 3rem;
            background-color: rgb(233,70,21);
            border: none;
            color: white;
            font-size: 1.5rem;
            margin-top: 2%;
        }
    }//end login form

}//end login-main


#calculator-main{
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}
#btn {
    background-color: #fb0066;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
}