@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
$headerFont: 'Segoe UI';
*{
    margin: 0;
    padding: 0;
}

//Top Header of the page
.header{ 

background-color: white;
height: 5rem;
color: black;
display: flex;

    h1{
        font-family: $headerFont;
        }
    #logo{//Logo in the header
    position: relative;
    margin-left: 10%;
    top: 25%;
    height: 2rem;
    flex: .4;//flex used to help center navbar
    }
    //Styles the navigation bar's content
    .navbar{
        width: 35%;
        flex: 1;//flex used to help center navbar
        
            ul{
                padding-top: 3%;
            }
            li{
                display: inline;
                margin-left: 2%;
                .links{
                    display: inline;
                    text-decoration: none;
                    color: hsl(0, 0%, 13%);
                    font-size: 1.3rem;
                    font-family: $headerFont;
                }
            }
        }

    }

.access-header{ 

        background-color: white;
        height: 5rem;
        color: black;
        display: flex;
        
            h1{
                font-family: $headerFont;
                }
            #logo{//Logo in the header
            position: relative;
            margin-left: 5%;
            top: 25%;
            height: 2rem;
            flex: .4;//flex used to help center navbar
            }
            //Styles the navigation bar's content
            .navbar{
                width: 35%;
                flex: 1;//flex used to help center navbar
                
                    ul{
                        padding-top: 3%;
                    }
                    li{
                        display: inline;
                        margin-left: 2%;
                        .links{
                            display: inline;
                            text-decoration: none;
                            color: hsl(0, 0%, 13%);
                            font-size: 1.3rem;
                            font-family: $headerFont;
                        }
                    }
                }
        
            }
#index-main {
 


    //padding centers items
    padding-left: 2% ;
    padding-right: 2%;

    #CTA-container{
        position: relative;
        .link-span{
            position: absolute;
            width: 100vw;
            height: 100vh;
            z-index: 2;
            top: 0;
            left: 0;
        }
    #backgroundImage{
        //darkens image
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../media/homeBackgroundImage.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 92%;
        height: 100vh;
        
        
        
                }//END backgroundImage

        #CTA{      
            margin-left: 25%;
            position: absolute;  
            margin-top: -35%;
            
            h2, span{
                color: white;
                font-size: 5rem;
                text-align: center;
                font-family: $headerFont;
            }
        }//end CTA

        #flex-banner{
            display: flex;
            width: 70%;
            height: 11rem;
            position: absolute;
            margin-top: -15%;
            margin-left: 15%;
        
            :first-child{
                background-color: rgb(255,255,255);
            }

            :nth-child(2){
                background-color: rgb(237,237,237);
            }

            :last-child{
                background-color: rgb(214,214,214);
            }

            .banner{
                flex: 1;
                text-align: center;
                padding-top: 3%;

                .fa-solid{//icons
                    font-size: 2rem;
                    background-color:transparent;
                }

                .credits{
                    background-color: transparent;
                    padding-top: 10%;
                    font-size: 1.5rem;
                }
            
            }

        }//end flex-banner

    }
}//end index-main


//Main container to hold main content
#access-main{

    height: 80vh;

    h2, p{
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
        text-align: center;
    }//end h2 and p
    h2{
        font-size: 3.5rem;
    }//end h2
    p{
        font-size: 1.1rem;
        color: grey;
        a{
            color: rgb(233,70,21);
        }
    }

    #loginForm{
    
    padding-left: 38%;
    padding-top: 2%;    
    table{
        width: 70%;
    }
        label{
            font-size: 1rem;
            color: grey;
        }//end label

        input[type=email], input[type=password], input[type=text]{
            width: 60%;
            height: 2rem;
            font-size: 1rem;
            border-top: none;
            border-left: none;
            border-right: none;
            border-color: grey;
            margin-bottom: 5%;
            outline: none;
           
            
        }

        #forgotpassword{
            margin-bottom: 15%;
            color: grey;
        }

        input[type=submit]{
            width: 60%;
            height: 3rem;
            background-color: rgb(233,70,21);
            border: none;
            color: white;
            font-size: 1.5rem;
            margin-top: 2%;
        }
    }//end login form

}//end login-main


#calculator-main{

    #progress {
        position: relative;
        width: 50%;
        margin-top: 2%;
        margin-bottom: 30px;
        margin-left: 24% ;
        #progress-bar {
            position: absolute;
            background: lightseagreen;
            height: 5px;
            top: 50%;
            left: 0%;
            }//end progress-bar

            #progress-num {//ul tag
                list-style: none;//removes bullet points
                display: flex;
                justify-content: space-between;

            .step {//list item tags
                border: 3px solid lightgray;
                border-radius: 100%;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                background-color: #fff;
                font-family: sans-serif;
                font-size: 14px;  
                position: relative;
            }//end step
            .active {
                border-color: lightseagreen;
                background-color: lightseagreen;
                color: #fff;
              }//end active

            }//end progress-num




            #progress-num::before {
                content: "";
                background-color: lightgray;
                position: absolute;
                top: 50%;
                left: 0;
                height: 5px;
                width: 100%;
                z-index: -1;

          
            }//end progress-num:before
    }//end progress
    
    
        .btn {
            background: lightgray;    
            border: none;
            border-radius: 3px;
            padding: 6px 12px;   
        }//end btn

}//end calculator-main