@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #636e72;
}
//Top Header of the page
.header{ 

background-color: white;
height: 5rem;
color: black;
display: flex;

#logo{//Logo in the header
position: relative;
margin-left: 10%;
top: 25%;
height: 2rem;
flex: .4;//flex used to help center navbar
}
//Styles the navigation bar's content
.navbar{
    width: 35%;
    flex: 1;//flex used to help center navbar
    
        ul{
            padding-top: 3%;
        }
        li{
            display: inline;
            margin-left: 2%;
            .links{
                display: inline;
                text-decoration: none;
                color: hsl(0, 0%, 13%);
                font-size: 1.3rem;
            }
        }
    }

}

#index-main {
    padding-left: 2% ;
    padding-right: 2%;

    #CTA-container{
        
        background-image: url("../media/homeBackgroundImage.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 50%;
        height: 85vh;
 


}
h2{
    color: white;
    font-size: 5rem;
    margin-top: -25%;
    padding-left: 4%;
    position: absolute;
}



    }




//Main container to hold main content
#login-main{
    //Centers content on the page
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

    #loginForm{
        #loginFormTable{
            label {
                font-size: 1.5rem;
            }
            input:not(#submit){
                margin-bottom: 5%;
                height: 1.5rem;
                font-size: 1.5rem;
                
                
            }
            input[type="submit"]{
                font-size: 1.2rem;
            }
        }
    }


}

#calculator-main{
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}
#btn {
    background-color: #fb0066;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
}